.couverture{
    width: 300px;
}

.add-button{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    transition-duration: 0.2s;
}

.add-button:hover{
    background-color: #00C3FF;
    color: #FFF;
    text-decoration: none;
    box-shadow: 2px 2px 3px #999;
}

.flex-responsive{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.image-responsive{
    width: 100%;
    height: auto;
}

.div-image-responsive{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 1199px) {
    .flex-responsive{
        flex-flow: column;
    }
    .text-responsive{
        width: 100%;
    }
    
}

@media screen and (min-width: 1200px) {
    .text-responsive{
        padding-left: 20px;
        width: 50%;
    }
    
}