{% extends 'baseBS.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='details.css')}}"> 
{% endblock %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white-50 rounded box-shadow" style="background: linear-gradient(45deg,#40c868,#43cccc);">
    <img class="mr-3" src="{{ url_for('static', filename='book.svg')}}" alt="" width="48" height="48" style="margin-right: 10px;">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Liste des livres</h6>
    </div>
</div>

<div class="row">

    {% for x in books %}
    <div class="col-md-3">
        <div class="card mb-3 box-shadow">
            <div style="flex: fit-content">
                <div class="card-img-top book-cover-image" style="background-image: url('{% if x.img %}{{ url_for('static', filename='images/'+x.img) }}{% else %}{{ url_for('static', filename='no-img.png') }}{% endif %}');" ></div>
            </div>
            <div class="card-body">
            <p class="card-text" style="height: 70px;">{{ x.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-flex justify-content-center flex-wrap">
                    <a href="{{ url_for('details', id=x.id) }}"><button type="button" class="align-self-stretch btn btn-sm btn-outline-secondary">Détails</button></a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('edit_book', id=x.id) }}"><button type="button" class="btn btn-sm btn-outline-info btn-outline-secondary">Modifier</button></a></a>
                        <a href="{{ url_for('remove_book', id=x.id) }}"><button type="button" class="btn btn-sm btn-outline-danger btn-outline-secondary">Supprimer</button></a></a>
                    {% endif %}
                </div>
                <small class="text-muted">{{ x.price }}€</small>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="Search results pages" style="width: fit-content; margin: auto;">
    <ul class="pagination">
       <li class="page-item {% if isFirst %} disabled {% endif %}">
          <a class="page-link" href="{% if not isFirst %} {{ url_for('home', p=page-1) }} {% endif %}" tabindex="-1">Précédent</a>
       </li>

        {% if not isFirst %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', p=page-1) }}">{{ page-1 }}</a></li>
        {% endif %}


        <li class="page-item active">
            <a class="page-link" href="{{ url_for('home', p=page) }}">{{ page }}</a>
        </li>
       
        {% if not isLast %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', p=page+1) }}">{{ page+1 }}</a></li>
        {% endif %}


       <li class="page-item {% if isLast %} disabled {% endif %}">
          <a class="page-link" href="{% if not isLast %} {{ url_for('home', p=page+1) }} {% endif %}">Suivant</a>
       </li>
    </ul>
 </nav>

{% if current_user.is_authenticated %}
<a href="{{ url_for('edit_book') }}" class="add-button" title="Ajouter un livre">+</a>
{% endif %}

{% endblock %}
